<h2>Editing bulletin</h2>
<link rel="stylesheet" type="text/css" href="assets/bootstrap-paper.css">
<%= render 'form' %>

<hr>

<%= link_to 'Show', @bulletin, class: 'btn btn-default' %>
<%= link_to 'Back', bulletins_path, class: 'btn btn-default' %>
