<meta charset="utf-8">
<title>You Drink Me? I Drink You!</title>
<link rel="stylesheet" type="text/css" href="assets/bootstrap-paper.css">
<link rel="stylesheet" type="text/css" href="assets/index.css">


<%= link_to "입장하기", bulletin_posts_path(1), class:'btn btn-default' %>
